{% load static %}
{% block content %}
<h1>Upload File</h1>
	
	<select>
  		<option value="google">Google Drive</option>
  		<option value="dropbox">Dropbox</option>
  		<option value="box">Box</option>
	</select>
		

	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="myfile">
		<button type="submit">Upload</button>
	</form>

	{% if file_name and uploaded %}
    	<p>File uploaded: <a href="{{ file_name }}">{{ file_name }}</a></p>
  	{% elif file_name and not uploaded %}
 		<p>File upload failed.</p>
 	{% else %}
 		<p></p>
  	{% endif %}
{% endblock %}